.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out

**/secrets.h
esp32s3_wifi_companion/wifi_companion/build
esp32s3_wifi_companion/wifi_companion/sdkconfig*
**/settings.json
**/compile_commands.json
**/launch.json
**/c_cpp_properties.json
**/tasks.json
**/esp-idf
**/esp-idf-v5.4.1
**/*.trace
**/*.bin
**/*.elf
**/*.hex
**/*.map
**/*.log